/* Coolors Exported Palette - https://coolors.co/1f2937-627271-3e5653-efefef-86cb92 */

/* CSS HEX */
--jet-black: #1f2937ff;
--dim-grey: #627271ff;
--dark-slate-grey: #3e5653ff;
--platinum: #efefefff;
--emerald: #86cb92ff;

/* CSS HSL */
--jet-black: hsla(215, 28%, 17%, 1);
--dim-grey: hsla(176, 8%, 42%, 1);
--dark-slate-grey: hsla(173, 16%, 29%, 1);
--platinum: hsla(0, 0%, 94%, 1);
--emerald: hsla(130, 40%, 66%, 1);

/* SCSS HEX */
$jet-black: #1f2937ff;
$dim-grey: #627271ff;
$dark-slate-grey: #3e5653ff;
$platinum: #efefefff;
$emerald: #86cb92ff;

/* SCSS HSL */
$jet-black: hsla(215, 28%, 17%, 1);
$dim-grey: hsla(176, 8%, 42%, 1);
$dark-slate-grey: hsla(173, 16%, 29%, 1);
$platinum: hsla(0, 0%, 94%, 1);
$emerald: hsla(130, 40%, 66%, 1);

/* SCSS RGB */
$jet-black: rgba(31, 41, 55, 1);
$dim-grey: rgba(98, 114, 113, 1);
$dark-slate-grey: rgba(62, 86, 83, 1);
$platinum: rgba(239, 239, 239, 1);
$emerald: rgba(134, 203, 146, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);
$gradient-right: linear-gradient(90deg, #1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);
$gradient-bottom: linear-gradient(180deg, #1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);
$gradient-left: linear-gradient(270deg, #1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);
$gradient-top-right: linear-gradient(45deg, #1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);
$gradient-bottom-right: linear-gradient(135deg, #1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);
$gradient-top-left: linear-gradient(225deg, #1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);
$gradient-bottom-left: linear-gradient(315deg, #1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);
$gradient-radial: radial-gradient(#1f2937ff, #627271ff, #3e5653ff, #efefefff, #86cb92ff);